block scriptsBefore

	// build:js scripts/vendor/jquery.js
	script(src='/components/jquery/dist/jquery.js')
	// endbuild

	// build:js scripts/vendor/bootstrap.min.js
	script(src='scripts/vendor/bootstrap.min.js')
	// endbuild

	// build:js scripts/main.js
	script(src='scripts/main.js')
	// endbuild

block scriptsAfter
